@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Signika:wght@300..700&display=swap');

/*De farver vi bruger, som er gjort til VAR*/
:root {
    --sort: #172442;
    --hvid: #fdfdeb;
    --gron:#c5d27f;
    --orange: #f39c45;
    --blaa:#89b9cf;
    --lysrod: #f3a0b9;
    --lilla: #5d4aa1;
    --brun: #57341c;
    --graa: #5e6b7f;

    /*De skriftyper vi bruger*/
    --fatface:"Abril Fatface", serif;
    --signika: "Signika", sans-serif;
}

/*h1 styling*/
h1 {
    text-align: center;
    margin-top: 5%;
    color: #172442;
}

/*p styling*/
p {
    margin-left: 8%;
    margin-top: 4%;
    color: #172442;
}

/*h2 styling*/
h2 {
    margin-left: 8%;
}

/*Styling bland selv siden starter*/
/*antal funktionen styling*/
.antal {
    display: flex;
}

.antal input {
    margin-left: 1%;
    height: 10%;
    width: 5%;
    margin-top: 4%;
    color: gray;
}

/*Øllene styling, både billeder og tekst*/
.ol {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 7%;
    margin-right: 7%;
    gap: 4%;
    margin-top: 5%;

}

.ol img {
    height: 170px;
    margin: 1%;
}

.Amberlager {
    border: 2px solid #172442;
    display: flex;
}

.Amberlager p{
font-size: larger;
margin-left: 25%;
text-align: center;
line-height: 90px;
}

.Amberlager input {
    height: 10%;
    width: 10%;
    margin-top: 25%;
    margin-left: 20%;
    color: grey;
}

/*Teksten nederst på begge sider*/
.beskrivelse {
    margin: 10%;
    color: #172442;
}

button {
    background-color: #172442;
    color: #fdfdeb;
    margin-top: 20%;
    height: 60px;
    width: 150px;
    font-size: large;
   margin-left: 47%;
}
/*Styling af bland selv siden slut*/


/*Styling af slideshow funktionen på abonnement siden*/
div.scroll-container {
  background-color: #fdfdeb;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/*styling af main a på abonnement siden*/
main a {
    font-family: var(--signika);    
    color: var(--sort);
    
}

/*footer styling*/
footer p {
    font-family: var(--signika);    
    color: var(--hvid);
}

footer h1 {
    color: var(--hvid);

}


